/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2014, 1:29:42 AM
    Author     : Eniko
*/


body {
    background-color: #B8B8B8 ;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table {
    width: 500px;
    padding: 15px;
}

th {
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
   color: #be7429;
   font-weight: normal;
   text-decoration: none;
}

a:link:hover {
   color: #be7429;
   font-weight: normal;
   text-decoration: underline;
}

div {
    width: 300px;
    padding: 25px;
    margin: 25px;
}



.right {
    position: absolute;
    right: 200px;
    width: 300px;
    top: 100px
}

